.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__results {
  flex: 3;
}

.ais-Highlight-highlighted {
  color: inherit;
  font-size: inherit;
}

#searchbox {
  margin-bottom: 2rem;
}

#pagination {
  margin: 2rem auto;
  text-align: center;
}

.ais-Hits-item article {
  display: flex;
}

.ais-Hits-item img {
  max-width: 100%;
  max-height: 100%;
}

.hit-download-image {
  position: relative;
}

.hit-download-image a {
  position: absolute;
  bottom: 1.5em;
  right: 1em;
  background-color: #555;
  color: white;
  font-size: 16px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 24px;
  height: 24px;
}
